#logo {
  padding-bottom: 20px;
}

#logo h1 {
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  position: relative;
  font-size: 52px;
}

#logo h1 span.cap {
  font-size: 80px;
}

#logo span.inthe {
  position: relative;
  top: -37px;
  font-size: 22px;
  padding: 0 6px 0 12px;
  text-align: center;
  left: -2px;
}

#logo img {
  position: absolute;
  width: 90px;
  top: 140px;
  left: 276px;
}

.welcome {
  padding: 6em 0;
}

.welcome p {
  font-size: 20px;
}

.welcome h1 {
  font-size: 72px;
}

.welcome a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.card img.card-img-top {
  width: 80px;
  margin: 20px auto;
}

.card {
  background: none;
  border: none;
}

.card-body {
  background: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 992px) {
  .welcome {
    padding: 4em 0.5em;
  }

  .welcome h1 {
    font-size: 64px;
  }

  .the-deathwatch {
    margin-bottom: 2em;
    margin-top: 1em;
  }
}