#branding {
  text-align: center;
  position: relative;
  display: flex;
  height: 170px;
  justify-content: center;
  align-items: center;

}

#branding img.logo {
  max-width: 100%;
  position: relative;
  opacity: 1;
}

#branding img.suffer {
  position: absolute;
  top: 5%;
  z-index: 0;
  width: 90%;
  left: 5%;
  opacity: 0.1;
}

.welcome {
  padding: 6em 0;
}

.welcome p {
  font-size: 22px;
}

.welcome h1 {
  font-size: 72px;
}

.welcome a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.card img.card-img-top {
  width: 80px;
  margin: 20px auto;
}

.card {
  background: none;
  border: none;
}

.card-body {
  background: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 760px) {
}

@media (max-width: 992px) {
  #branding img.suffer {
    display: none;
  }

  .welcome {
    padding: 4em 0.5em;
  }

  .the-deathwatch {
    margin-bottom: 2em;
    margin-top: 1em;
  }
}